@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-weight: 550;
}

p {
  margin-bottom: 1.6rem;
}

a, .btn-link {
  color: #74b87b;
}

a:hover, .btn-link:hover {
  color: #74b87b;
  text-decoration: underline;
}

.row {
  margin: 0;
}

.site-header a {
  color: #000;
}

.logo {
  padding-left: 15px;
}

a.more {
  color: #000;
  padding: 0 15px;
  margin-top: 15px;
}

.sub-note {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.sub-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #999;
  line-height: 1.5rem;
}

.btn-primary {
  background-color: #74b87b;
  border-color: #74b87b;
}

.btn-secondary {
  background-color: #ffea00;
  border-color: #ffea00;
}

.card {
  border: none;
}

.card-header {
  background-color: #fff;
  border: none;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.subscribe, .subscribe-2 {
  background: #e7ad46 url("../img/bg-simmetryFit.png") no-repeat;
  min-height: 330px;
  background-size: 100%;
  color: #fff;
}
.subscribe input.form-control, .subscribe-2 input.form-control {
  margin-bottom: 15px;
  border: 1px solid #fff;
  border-radius: 0;
}

.subscribe-2 {
  background: url("../img/bg-subscribe.jpg") no-repeat bottom;
  background-size: cover;
}

ul.brand {
  list-style-type: none;
}
ul.brand li {
  background: url(" ../img/bullit.png") no-repeat 0 7px;
  padding: 0 0 14px 25px;
}

.sticky-top {
  background: #fff;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.sticky-top a {
  padding-right: 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.method, .review {
  background: #d5de4f;
}

.about {
  background: #e7ad46;
}

.bg-double {
  background: #e7ad46;
}

.sm-bg {
  background: #f3e179;
}

.bg-shop {
  background: url("../img/bg-shop.jpg") no-repeat;
  background-size: cover;
}

.price {
  font-weight: bold;
  font-size: 1.25rem;
}

.main-price {
  font-size: 2.2rem;
}

.extra {
  border: 6px dashed #f3d6a2;
  border-radius: 15px;
  margin-bottom: 20px;
}
.extra .card-text {
  text-transform: uppercase;
  font-size: 0.8rem;
}
.extra .price {
  font-size: 1.8rem;
}

.advantages .item {
  border-radius: 15px;
  font-size: 0.8 rem;
  color: #fff;
  line-height: 15px;
  padding: 10px 30px 10px 40px;
  text-align: left;
  position: relative;
}
.advantages i {
  position: absolute;
  top: -5px;
  left: -15px;
  border-radius: 22px;
  padding: 10px 14px;
  font-size: 1.5rem;
}
.advantages .item.no {
  background: #e7ad46;
  border: 1px solid #e7ad46;
}
.advantages .item.no i {
  color: #ca6946;
  background: #fff;
  border: 1px solid #fff;
}
.advantages .item.yes {
  background: #d5de4f;
  border: 1px solid #d5de4f;
}
.advantages .item.yes i {
  color: #74b87b;
  background: #fff;
  border: 1px solid #fff;
  padding: 10px;
}
.advantages .card img {
  height: 150px;
  width: 150px;
}

.discount .card-body.wrap {
  border: 6px dashed #74b87b;
  padding: 0;
}
.discount .card-img {
  overflow: hidden;
}
.discount img {
  height: 250px;
  width: auto;
}
.discount .card-footer {
  height: 175px;
  background: #f9f0bc;
}
.discount .card-border {
  border: 6px dashed #ca6946;
  border-left: 0;
}
.discount .extra {
  border: 0px;
  border-radius: none;
  background-color: #f9f0bc;
  position: relative;
}
.discount .icon {
  position: absolute;
  top: 10px;
  left: 80px;
  height: 70px;
  width: 70px;
}
.discount .icon img {
  width: 100%;
  height: auto;
}

.questions {
  background-color: #ca6946;
}
.questions .card-header {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
}
.questions .card, .questions .card-header {
  background-color: #ca6946;
}
.questions .card-header i {
  padding: 10px 12px;
  background-color: #fff;
  border-radius: 21px;
  color: #74b87b;
}

.why {
  background: #fff;
}
.why p {
  font-size: 18px;
  text-transform: uppercase;
}
.why .why-corrector1 {
  margin-top: -40px;
  padding: 0 0 0 20px;
}
.why .why-corrector2 {
  position: absolute;
  top: 15px;
  left: 40px;
}
.why .why-arrow {
  background: url("../img/corrector-arrow.png") no-repeat 90% 52%;
}

.mobile-user-menu {
  display: none;
}
.mobile-user-menu .mobile-nav {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  text-align: center;
  width: 100%;
  display: none;
  color: #000;
}
.mobile-user-menu label {
  background: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 40;
  overflow: scroll;
}
.mobile-user-menu .top-block {
  height: 40px;
}
.mobile-user-menu .nav-item {
  width: 100%;
}
.mobile-user-menu .nav-item ul {
  padding: 0 0 0 40px;
}
.mobile-user-menu .close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 400;
  color: #fff;
}
.mobile-user-menu #mobile-menu:checked + label {
  width: 100%;
  min-height: 100%;
}
.mobile-user-menu #mobile-menu:checked + label > .mobile-user-menu .close, .mobile-user-menu #mobile-menu:checked + label > .mobile-user-menu .mobile-logo, .mobile-user-menu #mobile-menu:checked + label > .mobile-nav {
  display: block;
}
.mobile-user-menu #mobile-menu:checked + label > .close:active {
  display: none;
}
.mobile-user-menu .nav-border-top {
  border-top: 1px solid #d4d9d9;
}
.mobile-user-menu .mobile-logo {
  width: 80px;
  margin: 7px 0 0 23px;
}

.shop-group-items .card-main {
  position: absolute;
  width: 200px;
}
.shop-group-items .item-1 {
  top: 80px;
  left: 54%;
}
.shop-group-items .item-2 {
  top: 140px;
  left: 78%;
}
.shop-group-items .item-3 {
  top: 340px;
  left: 78%;
}
.shop-group-items .item-4 {
  top: 440px;
  left: 54%;
}
.shop-group-items .price {
  background: #74b87b;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0 0 10px 0;
  display: inline-block;
}

footer {
  background-color: #17282e;
  color: #fff;
}

@media (min-width: 768px) {
  a.more {
    padding: 0 5px;
  }

  .center-block {
    width: 70%;
    margin: 0 auto 20px;
  }

  .advantages .card img {
    height: 250px;
    width: auto;
  }

  .mobile-user-menu {
    display: none;
  }

  .bg-double {
    background: url("../img/bg_double.png") repeat-y top center;
  }

  .sm-bg {
    background: none;
  }

  .why {
    background: #e7ad46 url("../img/corrector-bg01.gif") repeat-x top left;
  }
}
@media (min-width: 1200px) {
  section, .navbar {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
